.App {
	text-align: centre;
	min-height: calc(100vh - 48px);
	background-color: #282c34;
	display: flex;
	color: white;
	padding: 24px;
	flex-direction: column;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	margin: 0 auto 0 auto;
	align-items: centre;
	justify-content: centre;
	flex: .1;
}

.App-content {
	margin: 0 auto 0 auto;
	align-items: centre;
	justify-content: centre;
	flex: 0.9;
}